{% extends "base.html" %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<h1>Set a new password!</h1>

{% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
  </form>
{% else %}
  <p class="text-red-500">Ten link do resetu hasła jest nieważny lub został już użyty.</p>
  <p>Proszę <a href="{% url 'password_reset' %}" class="text-blue-500 underline">poproś o nowy link tutaj</a>.</p>
{% endif %}

{% endblock content %}
