{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h2>Home</h2>
{% if user.is_authenticated %}
<p>Hello, {{ user.username }}.</p>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}

<div class="login">

  <p>You are not logged in.</p>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log In</button>
  </form>


  <p>Don't have an account?</p>
  <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Up</button>

</form>


</div>
{% endif %}
{% endblock content %}

